*{margin: 0; padding: 0;}

:root {
	--pagePadding: 25px;
	--leftPanelSize: 200px;
	--cellWidth: 200px;
	--cellHalfWidth: calc(var(--cellWidth) / 2);
	--cellCornerRadius: 10px;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 13pt;
}

select {
	font-size: 14px;
	padding: 4px 4px;
}

footer {
}

/*------------------------------------------*/
/* Core structure: */

#left-panel {
	background-color: #222;
	width: var(--leftPanelSize);
	height: 100%;
	position: fixed;
	float: left;
	overflow-x: hidden;
}

#middle {
	/*background-color: yellow;*/
	padding-left: calc(var(--leftPanelSize) + var(--pagePadding));
	padding-top: var(--pagePadding);
	padding-right: var(--pagePadding);
	padding-bottom: var(--pagePadding);
	float: left;
}

#about {
	/*background-color: grey;*/
}

#grid-container {
	/*background-color: crimson;*/
	width: calc(100vw - var(--leftPanelSize) - var(--pagePadding));
}

#classify-draw {
	/*background-color: lightblue;*/
}

#center-area {
	/*background-color: lightcoral;*/
	margin-left: 25px;
}

#right-side {
	/*background-color: green;*/
	padding-top: var(--pagePadding);
	padding-right: var(--pagePadding);
	padding-bottom: var(--pagePadding);
	width: 45%;
	float: right;
}

/*------------------------------------------*/
/* Left panel: */

#topLeft {
	width: 100%;
	height: 55px;
	float: left;
	margin-bottom: 5px;
}

#bottomLeft {
	width: 100%;
	float: left;
}

#topLeftLeft {
	width: 20%;
	height: 100%;
	float: left;
}

#topLeftRight {
	margin-top: 5%;
	width: 80%;
	height: 100%;
	float: left;
}

#sitename {
	margin-left: 0px;
	font-size: 24px;
	position: fixed;
	color: white;
}

#texdrawer-logo {
	border: none;
	position: fixed;
	height: 32px;
	margin-left: 10px;
	margin-top: 5px;
	filter: invert(100%);
}

#mathjaxLogo {
	border: none;
	position: fixed;
	bottom: 0;
	height: 25px;
	margin-left: 1px;
}

#githubLogo {
	border: none;
	position: fixed;
	bottom: 0;
	height: 40px;
	margin-left: 120px;
	margin-bottom: -5px;
	filter: invert(100%);
}

.sidenav {
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
	color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.sidenav a.active {
	background-color: #666;
	color: white;
}

/*------------------------------------------*/
/* Center area */

#about li {
	margin-left: 30px;
}

#Instruction {
	font-size: 15pt;
	font-style: italic;
}

#canvasArea {
}

#input-canvas {
	/* Do not set the canvas size here, it fails
	to be retrieved by getContext() */
	border: 2px solid black;
	margin-top: 10px;
}

#buttonsArea {
}

.button {
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 15px;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#stats {
	margin-bottom: 10px;
}

#classification-results {
}

.responseTime {
	margin-left: 12px;
}

.resultTable {
	float: left;
	text-align: center;
	width: 90%;
}

.latex-command-box {
	width: 155px;
	text-align: left;
	font-size: 12pt;
}

/*------------------------------------------*/
/* Cells grid: */

#cells-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--cellWidth), 1fr));
	grid-gap: 2px;
}

.cell-container {
	width: var(--cellWidth);
	padding: 5px;
	border-radius: var(--cellCornerRadius);
}

.cell-container:hover {
	background-color: darkgoldenrod;
}

.cell { /* to be placed before subcells definitions */
	justify-content: center;
	align-items: center;
	display: flex;
	border: 2px solid black;
	font-family: Arial;
	font-size: 16px;
}

.cell-top {
	display: flex;
	height: 25px;
}

.cell-top-left {
	grid-column: 1;
	width: var(--cellHalfWidth);
	border-radius: var(--cellCornerRadius) 0px 0px 0px;
	background-color: #dddddd;
}

.cell-top-right {
	grid-column: 2;
	width: var(--cellHalfWidth);
	border-radius: 0px var(--cellCornerRadius) 0px 0px;
	background-color: #dddddd;
}

.cell-center { /* may contain up to 25 chars strings */
	height: 25px;
	background-color: #ffffdd;
}

.cell-bottom {
	display: flex;
	height: 75px;
}

.cell-bottom-left {
	grid-column: 1;
	width: var(--cellHalfWidth);
	border-radius: 0px 0px 0px var(--cellCornerRadius);
	background-color: white;
	font-size: 25px;
}

.cell-bottom-right {
	grid-column: 2;
	width: var(--cellHalfWidth);
	border-radius: 0px 0px var(--cellCornerRadius) 0px;
	background-color: white;
}

.cell-canvas {
	width: var(--cellHalfWidth);
	height: 75px;
}
