/*------------------------------------------*/
/* Global settings: */

:root {
	--ratio: 1.0;
}

@media only screen and (max-width: 850px) { /* for small screens */
	:root {
		--ratio: 0.75;
	}
}

:root {
	--pagePadding: calc(var(--ratio) * 24px);
	--leftPanelSize: calc(var(--ratio) * 200px);
	--inputCanvasSize: calc(var(--ratio) * 300px);
	--cellWidth: calc(var(--ratio) * 200px);
	--cellHeight: calc(var(--ratio) * 125px);
	--cellHalfWidth: calc(var(--cellWidth) / 2);
	--cellHeightSmall: calc(0.2 * var(--cellHeight));
	--cellHeightMedium: calc(0.6 * var(--cellHeight));
	--cellCanvasSize: min(var(--cellHalfWidth), var(--cellHeightMedium));
	--cellCornerRadius: 10px;
}

*{margin: 0; padding: 0;}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 17px;
}

select {
	font-size: 14px;
	padding: 4px 4px;
}

footer {
}

/*------------------------------------------*/
/* Core structure: */

#left-panel {
	background-color: #222;
	width: var(--leftPanelSize);
	height: 100%;
	position: fixed;
	float: left;
	overflow-x: hidden;
}

#middle {
	/*background-color: yellow;*/
	padding-left: calc(var(--leftPanelSize) + var(--pagePadding));
	padding-top: var(--pagePadding);
	padding-right: var(--pagePadding);
	padding-bottom: var(--pagePadding);
}

#about {
	/*background-color: grey;*/
}

#classify-draw {
	/*background-color: lightblue;*/
	padding-left: calc((4 * var(--ratio) - 3) * var(--pagePadding));
}

#center-area {
	/*background-color: lightcoral;*/
	padding-bottom: var(--pagePadding);
	padding-right: var(--pagePadding);
	float: left;
}

#right-side {
	/*background-color: seagreen;*/
	padding-bottom: var(--pagePadding);
	float: left;
	width: 45%;
}

#grid-container {
	/*background-color: crimson;*/
	width: calc(100vw - var(--leftPanelSize) - 2 * var(--pagePadding));
}

/*------------------------------------------*/
/* Left panel: */

#topLeft {
	width: 100%;
	height: 55px;
	float: left;
	margin-bottom: 5px;
}

#bottomLeft {
	width: 100%;
	float: left;
}

#topLeftLeft {
	width: 20%;
	height: 100%;
	float: left;
}

#topLeftRight {
	margin-top: 5%;
	width: 80%;
	height: 100%;
	float: left;
}

#sitename {
	margin-left: 0px;
	font-size: calc(var(--ratio) * 24px);;
	position: fixed;
	color: white;
}

#texdrawer-logo {
	border: none;
	position: fixed;
	height: calc(var(--ratio) * 36px);
	margin-left: calc(var(--ratio) * 10px);
	margin-top: calc(var(--ratio) * 5px);
	filter: invert(100%);
}

#mathjaxLogo {
	border: none;
	position: fixed;
	bottom: 0;
	height: 25px;
	margin-left: 1px;
}

#githubLogo {
	border: none;
	position: fixed;
	bottom: 0;
	height: 40px;
	margin-left: calc(var(--ratio) * 120px + 5px);
	margin-bottom: -5px;
	filter: invert(100%);
}

.sidenav {
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
	font-size: calc(var(--ratio) * 12px + 8px);
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
	color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.sidenav a.active {
	background-color: #666;
	color: white;
}

/*------------------------------------------*/
/* Center area */

#about li {
	margin-left: 30px;
}

#validationOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background: #b8b8b8;
	opacity: 0.5;
	z-index: 1;
}

#waitingMessage {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-webkit-box-shadow: 3px 3px 7px #777;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	padding: 30px;
	border: 1px solid #ccc;
	box-shadow: 3px 3px 7px #777;
	background: white;
	z-index: 2;
}

#wannabeSample {
	width: 50px;
	height: 50px;
	padding: 5px;
	padding-bottom: 20px;
}

#canvas-area {
	margin-bottom: 65px;
}

#instruction-area {
}

#instruction {
	font-size: 20px;
	font-style: italic;
	margin-bottom: 10px;
}

#input-canvas {
	/* Use getFixedCanvas() from main.js to enable those width and height: */
	width: var(--inputCanvasSize);
	height: var(--inputCanvasSize);
	border: 2px solid black;
}

#buttons-area {
	width: var(--inputCanvasSize);
}

.button {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.imageButton {
	width: 36px;
	height: 36px;
	margin: 4px 6px 4px 4px;
	float: right;
}

#clearButton {
	margin-right: -3px;
	filter: contrast(125%);
}

#showDotsButton {
	transform: scaleX(-1);
}

#classifyButton {
	filter: contrast(95%);
}

#symbolButton {
	width: 50px;
}

#bottom-area {
}

#service-area {
}

#savedSamplesCount {
}

#classification-results {
}

.responseTime {
	/*background-color: olivedrab;*/
	width: calc(var(--ratio) * 720px - 120px);
}

.resultTable {
	text-align: center;
	width: 100%;
}

#resultTable tr td {
	height: 25px;
}

.symbol-class-box {
	width: 160px;
	text-align: left;
	font-size: 16px;
}

#samples-message {
	margin-bottom: 10px;
}

#symbol-input-area {
	margin-top: 20px;
	float: left;
}

#symbol-input {
	width: 300px;
	height: 20px;
	padding: 6px;
	margin: 4px;
	font-size: 16px;
}

#symbol-result-sentence {
	margin-top: 60px;
	margin-bottom: 10px;
}

/*------------------------------------------*/
/* Cells grid: */

#cells-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--cellWidth), 1fr));
	grid-gap: 2px;
}

.cell-container {
	width: var(--cellWidth);
	padding: 5px;
	border-radius: var(--cellCornerRadius);
}

.cell-container:hover {
	background-color: khaki;
}

.cell { /* to be placed before subcells definitions */
	justify-content: center;
	align-items: center;
	display: flex;
	border: 2px solid black;
	font-family: Arial;
	font-size: calc(var(--ratio) * 16px);
}

.cell-top {
	display: flex;
	height: var(--cellHeightSmall);
}

.cell-top-left {
	grid-column: 1;
	width: var(--cellHalfWidth);
	border-radius: var(--cellCornerRadius) 0px 0px 0px;
	background-color: #dddddd;
}

.cell-top-right {
	grid-column: 2;
	width: var(--cellHalfWidth);
	border-radius: 0px var(--cellCornerRadius) 0px 0px;
	background-color: #dddddd;
}

.cell-center { /* may contain up to 25 chars strings */
	height: var(--cellHeightSmall);
	background-color: #ffffdd;
}

.cell-bottom {
	display: flex;
	height: var(--cellHeightMedium);
}

.cell-bottom-left {
	grid-column: 1;
	width: var(--cellHalfWidth);
	border-radius: 0px 0px 0px var(--cellCornerRadius);
	background-color: white;
	font-size: calc(var(--ratio) * 21px);
}

.cell-bottom-right {
	grid-column: 2;
	width: var(--cellHalfWidth);
	border-radius: 0px 0px var(--cellCornerRadius) 0px;
	background-color: white;
}

.cell-canvas {
	/* Use getFixedCanvas() from main.js to enable those width and height: */
	width: var(--cellCanvasSize);
	height: var(--cellCanvasSize);
}
