/*------------------------------------------*/
/* Global settings: */

:root {
	--ratio: 1.0;
}

@media only screen and (max-width: 850px) { /* for small screens */
	:root {
		--ratio: 0.75;
	}
}

:root {
	--pagePadding: calc(var(--ratio) * 24px);
	--leftPanelSize: calc(var(--ratio) * 200px);
	--cellWidth: calc(var(--ratio) * 200px);
	--cellHeight: calc(var(--ratio) * 125px);
	--cellHalfWidth: calc(var(--cellWidth) / 2);
	--cellCornerRadius: 10px;
}

*{margin: 0; padding: 0;}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 17px;
}

select {
	font-size: 14px;
	padding: 4px 4px;
}

footer {
}

/*------------------------------------------*/
/* Core structure: */

#left-panel {
	background-color: #222;
	width: var(--leftPanelSize);
	height: 100%;
	position: fixed;
	float: left;
	overflow-x: hidden;
}

#middle {
	/*background-color: yellow;*/
	padding-left: calc(var(--leftPanelSize) + var(--pagePadding));
	padding-top: var(--pagePadding);
	padding-right: var(--pagePadding);
	padding-bottom: var(--pagePadding);
}

#about {
	/*background-color: grey;*/
}

#classify-draw {
	/*background-color: lightblue;*/
	padding-left: calc((4 * var(--ratio) - 3) * var(--pagePadding));
}

#center-area {
	/*background-color: lightcoral;*/
	padding-bottom: var(--pagePadding);
	padding-right: var(--pagePadding);
	float: left;
}

#right-side {
	/*background-color: seagreen;*/
	padding-bottom: var(--pagePadding);
	float: left;
	width: 45%;
}

#grid-container {
	/*background-color: crimson;*/
	width: calc(100vw - var(--leftPanelSize) - 2 * var(--pagePadding));
}

/*------------------------------------------*/
/* Left panel: */

#topLeft {
	width: 100%;
	height: 55px;
	float: left;
	margin-bottom: 5px;
}

#bottomLeft {
	width: 100%;
	float: left;
}

#topLeftLeft {
	width: 20%;
	height: 100%;
	float: left;
}

#topLeftRight {
	margin-top: 5%;
	width: 80%;
	height: 100%;
	float: left;
}

#sitename {
	margin-left: 0px;
	font-size: calc(var(--ratio) * 24px);;
	position: fixed;
	color: white;
}

#texdrawer-logo {
	border: none;
	position: fixed;
	height: calc(var(--ratio) * 36px);
	margin-left: calc(var(--ratio) * 10px);
	margin-top: calc(var(--ratio) * 5px);
	filter: invert(100%);
}

#mathjaxLogo {
	border: none;
	position: fixed;
	bottom: 0;
	height: 25px;
	margin-left: 1px;
}

#githubLogo {
	border: none;
	position: fixed;
	bottom: 0;
	height: 40px;
	margin-left: calc(5px + var(--ratio) * 120px);
	margin-bottom: -5px;
	filter: invert(100%);
}

.sidenav {
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
	font-size: calc(8px + var(--ratio) * 12px);
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
	color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.sidenav a.active {
	background-color: #666;
	color: white;
}

/*------------------------------------------*/
/* Center area */

#about li {
	margin-left: 30px;
}

#Instruction {
	font-size: 20px;
	font-style: italic;
}

#canvasArea {
}

#input-canvas {
	/* Do not set the canvas size here, it fails
	to be retrieved by getContext() */
	border: 2px solid black;
	margin-top: 10px;
}

#buttonsArea {
}

.button {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#serviceArea {
	margin-top: 15px;
}

#stats {
	margin-bottom: 10px;
}

#classification-results {
}

.responseTime {
	width: 100vw; /* works well on small screens */
}

.resultTable {
	text-align: center;
	width: 100%;
}

.symbol-class-box {
	width: 160px;
	text-align: left;
	font-size: 16px;
}

/*------------------------------------------*/
/* Cells grid: */

#cells-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--cellWidth), 1fr));
	grid-gap: 2px;
}

.cell-container {
	width: var(--cellWidth);
	padding: 5px;
	border-radius: var(--cellCornerRadius);
}

.cell-container:hover {
	background-color: darkkhaki;
}

.cell { /* to be placed before subcells definitions */
	justify-content: center;
	align-items: center;
	display: flex;
	border: 2px solid black;
	font-family: Arial;
	font-size: calc(var(--ratio) * 16px);
}

.cell-top {
	display: flex;
	height: calc(0.2 * var(--cellHeight));
}

.cell-top-left {
	grid-column: 1;
	width: var(--cellHalfWidth);
	border-radius: var(--cellCornerRadius) 0px 0px 0px;
	background-color: #dddddd;
}

.cell-top-right {
	grid-column: 2;
	width: var(--cellHalfWidth);
	border-radius: 0px var(--cellCornerRadius) 0px 0px;
	background-color: #dddddd;
}

.cell-center { /* may contain up to 25 chars strings */
	height: calc(0.2 * var(--cellHeight));
	background-color: #ffffdd;
}

.cell-bottom {
	display: flex;
	height: calc(0.6 * var(--cellHeight));
}

.cell-bottom-left {
	grid-column: 1;
	width: var(--cellHalfWidth);
	border-radius: 0px 0px 0px var(--cellCornerRadius);
	background-color: white;
	font-size: calc(0.2 * var(--cellHeight));
}

.cell-bottom-right {
	grid-column: 2;
	width: var(--cellHalfWidth);
	border-radius: 0px 0px var(--cellCornerRadius) 0px;
	background-color: white;
}

.cell-canvas {
	width: var(--cellHalfWidth);
	height: calc(0.6 * var(--cellHeight));
}
